body {
  background-color: azure;
  margin: 0 auto;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
  color: black;
}

header {
  background-color: crimson;
  padding-top: 1rem;
  margin: 0;
  border-bottom: 3px solid black;
  box-shadow: 10px 0px 5px black;
}

header h1 {
  color: white;
  border-radius: 1rem;
  border: 3px solid white;
  display: inline;
  padding: 0.5rem 1rem;
}

nav {
  padding-bottom: 0.5rem;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0rem 1.5rem;
  font-size: x-large;
}

.container {
  padding-top: 2rem;
  margin: 0 auto;
  width: 40%;
}

.imagecontainer {
  margin-top: 1rem;
  background-color: crimson;
  padding: 0;
  text-align: left;
}

.heroimage {
  width: 100%;
  margin: 0;
  padding: 0;
}

.imagecaptiontag {
  padding: 0.5rem 1rem;
  margin: 0;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
}
.authortag {
  text-align: left;
  color: black;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}
.datetimetag {
  text-align: left;
  color: dimgray;
  padding: 0;
  margin: 0;
}

.articlebody {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

footer p {
  background-color: crimson;
  color: white;
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
}
